// ======================================================================
// SECONDARY LINKS
// ======================================================================
.bg-blue-dark.p-half.show-for-medium-xxl.link-white.text-white
  .grid-container.small
    .grid-x.align-middle.align-justify
      .cell.shrink
        a.text-normal(href="https://www.cognizant.com") Cognizant.com
        span.mx-qtr •
        a.text-normal(href="/industries") Industries
        span.mx-qtr •
        a.text-normal(href="/services#") Services
        span.mx-qtr •
        a.text-normal(href="/latest-thinking") Latest Thinking
      .cell.shrink
        a.text-normal(href="/careers") Careers
        span.mx-qtr •
        a.text-normal(href="http://news.cognizant.com/") News
        span.mx-qtr •
        a.text-normal(href="/events") Events
        span.mx-qtr •
        a.text-normal(href="http://investors.cognizant.com/") Investors
        span.mx-half |
        a.text-normal(data-toggle="language-menu") 
          i.globe.mr-qtr
          | Worldwide
        include _nav-worldwide.pug
        a.text-normal(href="#") 
          i.search.text-bold.ml-half